@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap');

*{
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Open Sans', sans-serif;
}

#wrapper{

}

#top{
  background-color: #00a1e0;
  .row{
    width: 100%;
  }
  .top-mobile{
    display: none;
    @media (max-width: 991.98px){
      display: block;
    }
  }
  .top-desktop{
    display: none;
    @media (min-width: 992px){
      display: block;
    }
    .row{
      align-items: center;
    }
    .logo{
      display: inline-block;
      a{
        img{
          margin-top: -10px;
        }
      }
    }
    .navbar-nav{
      display: inline-block;
      margin-left: 20px;
      .dropdown{
        margin-right: 5px;
      }
      li{
        float: left;
        font-size: 12px;
      }
    }
    .searchForm{
      form{
        position: relative;
        input{
          width: 100%;
          border-radius: 20px;
        }
        button{
          position: absolute;
          right: 10px;
          top: -3px;
          outline: none;
        }
      }
    }
    .col-right{
      ul{
        display: flex;
        align-items: center;
        li{
          font-size: 12px;
          margin-right: 30px;
          list-style: none;
          &:last-child{
            margin-right: 0;
          }
        }
        .ico-right{
          a{
            color: #fff;
            position: relative;
            span{
              background-color: #ff3b30;
              position: absolute;
              border-radius: 50%;
              width: 15px;
              text-align: center;
              height: 15px;
              font-size: 10px;
              top: -5px;
              right: -8px;
            }
          }
        }
        .ico-credit{
          a{
            color: #fff;
          }
        }
        .user{
          .user-cols{
            position: relative;
            top: 20px;
          }
          a{
            color: #fff;
          }
          .nav-link{
            font-size: 14px;
            padding: 0;
            margin-left: 5px;
            line-height: normal;
            &.dropdown-toggle{
              background: url(../images/arrow-top.png) no-repeat;
              padding-right: 9px;
              background-position-y: 8px;
              background-position-x: right;
              &::after{
                border: none;
              }
            }
            .lv{
              display: block;
            }
          }
        }
      }
    }
  }
  .navbar-nav{
      .nav-link{
        color: #fff;
      }
  }
  .navbar-logos{
    display: none ;
    @media (max-width: 991.98px){
      display: block;
    }
  }
  #navbarSupportedContent{
    .row{
      width: 100%;
      .navbar-nav{
        li{
          font-size: 12px;
          .dropdown-item{
            font-size: 12px;
            a{
              color: #555;
            }
          }
        }
      }
      .form-inline{
        position: relative;
        input{
          width: 100%;
          border-radius: 20px;
        }
        button{
          position: absolute;
          right: 0;
        }
      }
      .col-right{
        ul{
          position: relative;
          li{
            display: inline-block;
            font-size: 12px;
          }
          .user{
            position: absolute;
            right: 0;
          }
        }
      }
    }
  }
}
